.product-card-title {
    text-transform: uppercase;
    font-weight: 500;
    color: #642F21;
}

.product-card-body:hover .product-cart-button {
    display: block;
}

.product-cart-button {
    display: none;
}